# following the GitHub Help on Line Endings: 
# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#per-repository-settings

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
